
footer{
    background-color: black;
    color: white;
    text-align: center;
    
}
button{
    padding: 500px, 50px;
    background-color: #af4c4c;
    color: white;
    cursor: pointer;
}

h1{
    margin-top:20px
    
}

#nav{
    display: flex;
}
#nav *{
    margin-right: 20px;
    align-self: center;
}
.nav-logo{
    width: 5em;
}
.nav-button{
    height: 50px;
}

.flex{
    display:flex;
}

.third{
    width: 800px;
}

.third > div{
    width: 33%;
}

img{
    width: 100%;
}

#placeholder{
    width: 500px;
}

.resize{
    width: 100%;
}

.imgColumn{
    width: 250px;
    height: 300px;
}
